{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {% comment %}
      {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
    {% endcomment %}

    {% comment %} add disabled class when product of displayed variant is sold out {% endcomment %}
    <form action="/cart/add" method="post">
      <table class="variants-table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        {% comment %} variantパターンがsizeとカラーの時(カラーが一色でサイズが二つの時に4列表示される問題) {% endcomment %}
        <tbody>
          {% for variant in product.variants %}
            {% comment %} {% for option in variant.options %} {% endcomment %}
            <tr>
              <td>{{ variant.title }}</td>
              <td>{{ variant.price | money }}</td>
              <td>
                <quantity-input class="quantity cart-quantity">
                  <button class="quantity__button" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
                    </span>
                    {% render 'icon-minus' %}
                  </button>

                  <input
                    class="quantity__input"
                    data-quantity-variant-id="{{ variant.id }}"
                    type="number"
                    name="updates[]"
                    {% comment %} value="{{ item.quantity }}" {% endcomment %}
                    value="0"
                    {% # theme-check-disable %}
                    data-cart-quantity="{{ cart | item_count_for_variant: variant.id }}"
                    min="0"
                    data-min="{{ variant.quantity_rule.min }}"
                    {% if variant.quantity_rule.max != null %}
                      max="{{ variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ variant.quantity_rule.increment }}"
                    {% # theme-check-enable %}
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: variant.title | escape }}"
                    id="Quantity-{{ forloop.index }}"
                    data-index="{{ forloop.index }}"
                    {% if variant.available == false %}
                      disabled
                    {% endif %}
                  >
                  <button class="quantity__button" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                    </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </td>
            </tr>
          {% endfor %}

          {% comment %} <td><input type="text" name="quantity" min="1" value="0" style="text-align: right;"></td> {% endcomment %}

          {% comment %} {% endfor %} {% endcomment %}
        </tbody>
      </table>
    </form>
    {% comment %} {%- endfor -%} {% endcomment %}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
